@import "tailwindcss";

:root {
  --background: #dad2d2;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6e8e8;
    --foreground: #090909;
  }
}

body {
  background: linear-gradient(to bottom right, #eff6ff, #ffffff, #faf5ff);
  color: var(--foreground);
  font-family: time;
}
